In [ ]:
# Creating Tables And Inserting Records

In [13]:
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
    host='localhost',
    user='root',
    password='DkfcjdFhctybq047',
    database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D72520C8E0>

# Creating Databases

In [34]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [15]:
cursor.execute('SHOW DATABASES')

In [16]:
for database in cursor:
    print(database)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

# Insert Records in Table

In [35]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [36]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("John", "Maths"),
        ("Alex","Data Science"),
        ("Misha","Data Science"),
        ("Vova","Maths"),
        ("Victor","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 7

# Select ALL

In [37]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [38]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'John', 'Maths'),
 (4, 'Alex', 'Data Science'),
 (5, 'Misha', 'Data Science'),
 (6, 'Vova', 'Maths'),
 (7, 'Victor', 'Data Science')]

In [39]:
### Fetch One Record At A time
cursor.fetchone()

In [40]:
lst=cursor.fetchall()

In [41]:
for records in lst:
    print(records)

# Selecting Particular Rows

In [42]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [43]:
### Fetch All the Data
cursor.fetchall()

[(2, 'Krish', 'Stats')]

# Select Particular Columns

In [44]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [45]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [46]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Alex', 'Data Science'),
 ('Misha', 'Data Science'),
 ('Victor', 'Data Science')]

# Drop table

In [47]:
cursor.execute("DROP TABLE studentinfo")